<div class="d-flex justify-content-between header-new-rappel">

    <%= link_to contact_path(@contact) do %>
      <p class="blue-text">Annuler</p>
    <% end %>
    <p class="blue-light-text">Nouvelle note</p>

    <%= link_to contact_path(@contact) do %>
    <p class="blue-text"></p>
    <% end %>
</div>

<!-- Prenom & NOM  -->

<div class="text-center mt-2 mb-4">
  <p class="name"><%= @contact.first_name %> <%= @contact.last_name.upcase %></p>
</div>



<!-- New Note -->


<%= render 'contactnote', contact: @contact, note: @note, tags: @tags %>


