<div class="d-flex justify-content-between header-new-rappel">

    <%= link_to dashboard_path do %>
      <p class="blue-text">Dashboard</p>
    <% end %>
    <p class="blue-light-text">Contact</p>

    <%= link_to edit_contact_path(@contact) do %>
    <p class="blue-text">Modifier</p>
    <% end %>
</div>

<div class="container">
  <% @contact.notes.each do |une_note| %>
  <div class="row">
    <%= render 'notes/contenttag', note: une_note, tags: une_note.tags %>
  </div>
  <% end %>
</div>
<div class="container">
  <div class="row ">
    <%= render 'contactnote', contact: @contact, note: @note, tags: @tags %>
    <div id='container-tag'>
      <%= simple_form_for (@tag, remote: true) do |f| %>
        <%= f.text_field :label %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

