<!-- PARTIE BLEUE -->
<div class="d-flex justify-content-center navbar-dashboard">
   <div>
     <%= link_to dashboard_path do %>
            <%= image_tag('house-empty.svg', class: 'btn-home') %>
          <% end %>
   </div>

    <p class="dashboard-title">Easycontact</p>


  <%= image_tag('user.svg', class: 'btn-user avatar dropdown-toggle', data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Mes contacts", contacts_path, class: "dropdown-item" %>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>

</div>


