

  <% if notes.empty? %>
    <p>Pas de notes</p>
  <% else %>


      <% notes.each do |une_note|%>

      <div class="notes">

        <div class="d-flex">
          <div class="notes-text d-flex flex-column">
            <span class="notes-text-date"><%= une_note.updated_at.strftime("%d-%b-%y") %></span>
            <span class="notes-text-content"><%= une_note.content %></span>
          </div>
          <div class="notes-button-edit">
              <div class="notes-text-content">
                <%= link_to 'Editer', edit_note_path(une_note)%>
              </div>

              <div class="notes-text-content">
                <%= link_to 'Supprimer', note_path(une_note), method: :delete %>
              </div>

          </div>
        </div>

        <div class="tags d-flex" data-note-id="<%= une_note.id %>" >
            <% une_note.tags.each do |t| %>
            <div class="tag-bis <%= t.color %>">
              <p class="tag-text " data-tag-id = "<%= t.id %>" ><%= t.label %></p>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>
  <% end  %>

