<%= link_to 'dashboard', dashboard_path %>
<%= render 'contacts/contactnotes', contact: @contact, notes: @notes %>

<%= cl_image_tag @contact.avatar, height: 150, width: 150, crop: :fill, class: "frame-picture" %>

<p><%= link_to 'Nouvelle note', new_contact_note_path(@contact) %></p>
<p><%= link_to 'List contacts', contacts_path  %></p>

<%= link_to "Modifier", edit_contact_path(@contact), class: "btn btn-primary" %>

