<!-- Header -->


    <%= link_to dashboard_path do %>
          <%= image_tag('house-empty.svg', class: 'btn-home') %>
        <% end %>

  <div class="header-contact bg-red d-flex justify-content-center align-items-center">
    <div class="header-photo px-5">
      <div>
        <p class="text-center header-first-name"><%= @contact.first_name %></p>
        <p class="text-center header-last-name"><%= @contact.last_name.upcase %></p>
      </div>
    </div>
  </div>


<!-- buttons notes & alerts -->

<div class="scrolling-wrapper-flexbox pl-3">
    <div class="card">
      <div class="card-category category-notes active d-flex justify-content-between">
        <%= image_tag('writing.svg', class: 'card-image-writing') %>

        <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-4 pb-2">
          <span class="info-category-text">Notes</span>
          <span class="info-stats-text">
            <% if %>
            <% @nb_notes == 0 %>
            <%= 0 %>
            <% else %>
            <%= @nb_notes %>
            <% end %> notes</span>
        </div>
      </div>
    </div>


    <div class="card pl-2">
        <div class="card-category category-rappels inactive d-flex justify-content-between">
          <%= image_tag('rappel.svg', class: 'card-image-writing') %>
          <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
            <span class="info-category-text">Rappels</span>
            <span class="info-stats-text">
            <% if %>
            <% @nb_upcoming_alerts == 0 %>
            <%= 0 %>
            <% else %>
            <%= @nb_upcoming_alerts %>
            <% end %> rappels</span>
            <%= link_to "",contact_alerts_path(@contact), class:'stretched-link'  %>
          </div>
        </div>
    </div>

    <div class="card pl-2 pr-3">
      <div class="card-category category-infos inactive d-flex justify-content-between">
        <%= image_tag('info-blue.svg', class: 'card-image-writing') %>
        <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
          <span class="info-category-text">Infos</span>
          <span class="info-stats-text">Contact</span>
          <%= link_to "", edit_contact_path(@contact), class:'stretched-link'  %>
        </div>
      </div>
    </div>
  </div>




<!-- Notes -->
<div class='notes-global'>
  <%= render 'contacts/contactnotes', contact: @contact, notes: @notes %>
</div>

<!-- footer -->

<div class="footer-contact d-flex justify-content-around">

  <div class="phone footer d-flex justify-content-center align-items-center">
    <%= image_tag('pinkphone.svg', class: 'card-image-footer') %>
    <div class="phonecall"><%= @contact.phone_number %></div>
  </div>

  <div class="button-plus-footer">
    <%= link_to new_contact_note_path(@contact) do %>
        <div class="lg-btn d-flex align-items-center justify-content-center">
          <i class="fas fa-plus"></i>
        </div>
    <% end %>
  </div>

  <div class="mail footer">
    <%= mail_to @contact.email do %>
      <%= image_tag('pinkmail.svg', class: 'card-image-footer') %>
    <% end %>
  </div>

</div>






