<div class="d-flex justify-content-between header-new-rappel">
    <%= link_to dashboard_path do %>
      <p class="blue-text">Dashboard</p>
    <% end %>
    <p class="blue-light-text">Contact</p>

    <%= link_to edit_contact_path(@contact) do %>
    <p class="blue-text">Modifier</p>
    <% end %>
</div>

<!-- Photo et nom/prénom -->
<div class="liste-champs-add d-flex">

  <div class="mx-3 mt-2">
    <%= cl_image_tag @contact.avatar, height: 150, width: 150, crop: :fill, class: "frame-picture" %>
  </div>

  <div class="champs-texte-add d-flex">

    <div class="champ-texte-add fiche">
      <p class="placeholder-search"><%= @contact.first_name %></p>
      <p class="placeholder-search"><%= @contact.last_name.upcase %></p>
    </div>

  </div>

</div>

<!-- buttons notes & alerts -->

<div class="d-flex justify-content-center mt-2 mb-5">

  <div class="mt-3 mr-4 fiche-contact-button">
    <p class="contact-button-notes active">Notes</p>
  </div>

  <%= link_to contact_alerts_path(@contact) do  %>
  <div class="mt-3 fiche-contact-button">
    <p class="contact-button-rappels inactive">Rappels</p>
  </div>
  <% end %>

</div>


<!-- Notes -->

<%= render 'contacts/contactnotes', contact: @contact, notes: @notes %>

<!-- Button new note -->

<%= link_to new_contact_note_path(@contact) do %>
  <div class="d-flex justify-content-center mt-5">
    <div class="md-btn d-flex align-items-center justify-content-center">
      <i class="fas fa-plus"></i>
    </div>
  </div>
<% end %>



