<div class="d-flex justify-content-between header-new-rappel">
  <p class="blue-text"><%= link_to 'List contacts', contacts_path  %></p>
  <p class="blue-light-text name"><%= @contact.first_name %> <%= @contact.last_name.upcase %></p>
  <p class="blue-text"><%= link_to 'Nouvelle note', new_contact_note_path(@contact) %></p>
</div>

<div class="text-center mt-2 mb-4">
  <%= cl_image_tag @contact.avatar, height: 150, width: 150, crop: :fill, class: "frame-picture" %>
</div>

<%= render 'contacts/contactnotes', contact: @contact, notes: @notes %>


