<!-- Header -->

<div class="position-relative">

  <div class="header-contact d-flex justify-content-center align-items-center">
    <%= link_to dashboard_path do %>
      <%= image_tag('house-empty.svg', class: 'btn-home') %>
    <% end %>

    <div class="header-photo px-5">
      <%= cl_image_tag @contact.avatar, height: 200, width: 200, crop: :fill, class: "frame-picture" %>
      <div>
        <p class="text-center header-first-name"><%= @contact.first_name %></p>
        <p class="text-center header-last-name"><%= @contact.last_name.upcase %></p>
      </div>
    </div>
  </div>

<!-- buttons notes & alerts -->

  <%= link_to contact_path(@contact) do %>
    <div class="card-category category-notes inactive d-flex justify-content-between">
      <%= image_tag('writing.svg', class: 'card-image-writing') %>

      <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-4 pb-2">
        <span class="info-category-text">Notes</span>
        <span class="info-stats-text">12 notes</span>
      </div>
    </div>
  <% end %>

  <div class="card-category category-rappels active d-flex border justify-content-between">
    <%= image_tag('rappel-blanc.svg', class: 'card-image-writing') %>

    <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
      <span class="info-category-text">Rappels</span>
      <span class="info-stats-text">14 rappels</span>
    </div>
  </div>
</div>

<!-- alerts -->

  <br>
  <br>
  <br>
  <br>


  <div class="mb-5">
    <%  if @upcoming_alerts.any? %>
      <% @upcoming_alerts.each do |alert| %>
      <div class="rappel d-flex justify-content-between">
        <p class="rappel-title pl-2 pt-2"><%= alert.title %></p>
        <p class="rappel-date pt-2 px-2"><%= I18n.l(alert.datetime, format: :short) %></p>
      </div>
      <% end %>
    <% else %>
      <p>"Vous n'avez pas d'alerte à venir."</p>
    <% end %>
  </div>
