<!-- Header -->

<div class="position-relative">

  <div class="header-contact d-flex justify-content-center align-items-center">
    <span>
      <%= link_to dashboard_path do %>
      <%= image_tag('house-empty.svg', class: 'btn-home') %>
    <% end %>
    </span>
    <div class="header-photo px-5">
      <%= cl_image_tag @contact.avatar, height: 200, width: 200, crop: :fill, class: "frame-picture" %>
      <div>
        <p class="text-center header-first-name"><%= @contact.first_name %></p>
        <p class="text-center header-last-name"><%= @contact.last_name.upcase %></p>
      </div>
    </div>
  </div>

<!-- buttons notes & alerts -->

  <%= link_to contact_path(@contact) do %>
    <div class="card-category category-notes inactive d-flex justify-content-between">
      <%= image_tag('writing-green.svg', class: 'card-image-writing') %>

      <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-4 pb-2">
        <span class="info-category-text">Notes</span>
        <span class="info-stats-text">
          <% if %>
          <% @contact.notes.count == 0 %>
          <%= 0 %>
          <% else %>
          <%= @contact.notes.count %> notes</span>
          <% end %></span>
      </div>
    </div>
  <% end %>

  <div class="card-category category-rappels active d-flex justify-content-between">
    <%= image_tag('rappel-blanc.svg', class: 'card-image-writing') %>

    <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
      <span class="info-category-text">Rappels</span>
      <span class="info-stats-text">
        <% if %>
        <% @contact.alerts.count == 0 %>
        <%= 0 %>
        <% else %>
        <%= @contact.alerts.count %>
        <% end %> rappels</span>
    </div>
  </div>
</div>


<!-- alerts -->

  <br>
  <br>
  <br>
  <br>


  <div class="mb-5">
    <%  if @upcoming_alerts.any? %>
      <% @upcoming_alerts.each do |alert| %>

      <div class="rappels d-flex">

        <div class="rappels-text d-flex">

          <div>
            <span class="rappels-text-date d-flex align-items-center  justify-content-center"><%= alert.datetime.strftime("%d %B").downcase %></span>
          </div>

          <div>
            <span class="rappels-text-content  d-flex align-items-center"><%= alert.title %></span>
          </div>

        </div>

      </div>

      <% end %>
    <% else %>
      <p>"Vous n'avez pas d'alerte à venir."</p>
    <% end %>
  </div>


<!-- footer -->


  <div class="footer-contact d-flex justify-content-around">
    <%= image_tag('pinkphone.svg', class: 'card-image-footer') %>
    <%= image_tag('pinkmail.svg', class: 'card-image-footer') %>
  </div>

  <div class="button-plus-footer">
    <%= link_to new_contact_alert_path(@contact) do %>
        <div class="lg-btn d-flex align-items-center justify-content-center">
          <i class="fas fa-plus"></i>
        </div>
    <% end %>
  </div>




