<!-- Header -->

<%= link_to dashboard_path do %>
          <%= image_tag('house-empty.svg', class: 'btn-home') %>
        <% end %>

  <div class="header-contact bg-red d-flex justify-content-center align-items-center">
    <div class="header-photo px-5">
      <div>
        <p class="text-center header-first-name"><%= @contact.first_name %></p>
        <p class="text-center header-last-name"><%= @contact.last_name.upcase %></p>
      </div>
    </div>
  </div>

<!-- buttons notes & alerts -->

<div class="scrolling-wrapper-flexbox pl-3">
    <div class="card">
          <div class="card-category category-notes inactive d-flex justify-content-between">
            <%= image_tag('writing-green.svg', class: 'card-image-writing') %>

            <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-4 pb-2">
              <span class="info-category-text">Notes</span>
              <span class="info-stats-text">
                <% if %>
                <% @contact.notes.count == 0 %>
                <%= 0 %>
                <% else %>
                <%= @contact.notes.count %>
                <% end %> notes</span>
                <%= link_to '', contact_path(@contact), class:'stretched-link'%>
            </div>
          </div>
    </div>


    <div class="card pl-2">
      <div class="card-category category-rappels active d-flex justify-content-between">
        <%= image_tag('rappel-blanc.svg', class: 'card-image-writing') %>

        <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
          <span class="info-category-text">Rappels</span>
          <span class="info-stats-text">
            <% if %>
            <% @upcoming_alerts.count == 0 %>
            <%= 0 %>
            <% else %>
            <%= @upcoming_alerts.count %>
            <% end %> rappels</span>
        </div>
      </div>
    </div>


    <div class="card pl-2 pr-3">
      <div class="card-category category-infos inactive d-flex justify-content-between">
        <%= image_tag('info-blue.svg', class: 'card-image-writing') %>
        <div class="card-notes-infos d-flex flex-column justify-content-end align-items-start pr-3 pb-2">
          <span class="info-category-text">Infos</span>
          <span class="info-stats-text">Contact</span>
          <%= link_to '', edit_contact_path(@contact), class:'stretched-link'  %>
        </div>
      </div>
    </div>
</div>




<!-- alerts -->


  <div class="upcoming-alerts mb-5">
    <div class="scrollable">
      <%  if @upcoming_alerts.any? %>
        <% @upcoming_alerts.each do |alert| %>
          <div class="rappels d-flex align-items-center justify-content-center position-relative">

            <div class="rappels-text d-flex align-items-center justify-content-center">
              <div>
                <span class="rappels-text-date d-flex align-items-center justify-content-center"><%= I18n.l(alert.datetime, format: "%e") %><br><%= I18n.l(alert.datetime, format: "%B") %></span>
              </div>

              <div>
                <span class="rappels-text-content d-flex align-items-center"><%= alert.title.capitalize %></span>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-center trash-alert">
              <%= link_to alert_path(alert), method: :delete, data: { confirm: "Êtes-vous sûr(e)?" } do %>
                  <?xml version="1.0"?>
                  <svg class="card-image-delete rappels" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 438.529 438.529" style="enable-background:new 0 0 438.529 438.529;" xml:space="preserve" class=""><g><g>
                    <g>
                      <path d="M417.689,75.654c-1.711-1.709-3.901-2.568-6.563-2.568h-88.224L302.917,25.41c-2.854-7.044-7.994-13.04-15.413-17.989    C280.078,2.473,272.556,0,264.945,0h-91.363c-7.611,0-15.131,2.473-22.554,7.421c-7.424,4.949-12.563,10.944-15.419,17.989    l-19.985,47.676h-88.22c-2.667,0-4.853,0.859-6.567,2.568c-1.709,1.713-2.568,3.903-2.568,6.567v18.274    c0,2.664,0.855,4.854,2.568,6.564c1.714,1.712,3.904,2.568,6.567,2.568h27.406v271.8c0,15.803,4.473,29.266,13.418,40.398    c8.947,11.139,19.701,16.703,32.264,16.703h237.542c12.566,0,23.319-5.756,32.265-17.268c8.945-11.52,13.415-25.174,13.415-40.971    V109.627h27.411c2.662,0,4.853-0.856,6.563-2.568c1.708-1.709,2.57-3.9,2.57-6.564V82.221    C420.26,79.557,419.397,77.367,417.689,75.654z M169.301,39.678c1.331-1.712,2.95-2.762,4.853-3.14h90.504    c1.903,0.381,3.525,1.43,4.854,3.14l13.709,33.404H155.311L169.301,39.678z M347.173,380.291c0,4.186-0.664,8.042-1.999,11.561    c-1.334,3.518-2.717,6.088-4.141,7.706c-1.431,1.622-2.423,2.427-2.998,2.427H100.493c-0.571,0-1.565-0.805-2.996-2.427    c-1.429-1.618-2.81-4.188-4.143-7.706c-1.331-3.519-1.997-7.379-1.997-11.561V109.627h255.815V380.291z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF4D4D"/>
                      <path d="M137.04,347.172h18.271c2.667,0,4.858-0.855,6.567-2.567c1.709-1.718,2.568-3.901,2.568-6.57V173.581    c0-2.663-0.859-4.853-2.568-6.567c-1.714-1.709-3.899-2.565-6.567-2.565H137.04c-2.667,0-4.854,0.855-6.567,2.565    c-1.711,1.714-2.568,3.904-2.568,6.567v164.454c0,2.669,0.854,4.853,2.568,6.57C132.186,346.316,134.373,347.172,137.04,347.172z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF4D4D"/>
                      <path d="M210.129,347.172h18.271c2.666,0,4.856-0.855,6.564-2.567c1.718-1.718,2.569-3.901,2.569-6.57V173.581    c0-2.663-0.852-4.853-2.569-6.567c-1.708-1.709-3.898-2.565-6.564-2.565h-18.271c-2.664,0-4.854,0.855-6.567,2.565    c-1.714,1.714-2.568,3.904-2.568,6.567v164.454c0,2.669,0.854,4.853,2.568,6.57C205.274,346.316,207.465,347.172,210.129,347.172z    " data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF4D4D"/>
                      <path d="M283.22,347.172h18.268c2.669,0,4.859-0.855,6.57-2.567c1.711-1.718,2.562-3.901,2.562-6.57V173.581    c0-2.663-0.852-4.853-2.562-6.567c-1.711-1.709-3.901-2.565-6.57-2.565H283.22c-2.67,0-4.853,0.855-6.571,2.565    c-1.711,1.714-2.566,3.904-2.566,6.567v164.454c0,2.669,0.855,4.853,2.566,6.57C278.367,346.316,280.55,347.172,283.22,347.172z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FF4D4D"/>
                    </g>
                    </g></g>
                  </svg>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="nonote"><p>Vous n'avez pas de note pour ce contact.</p></div>
      <% end %>
    </div>
  </div>


<!-- footer -->

<div class="footer-contact d-flex justify-content-around">
  <div class="num-tel">
    <%= link_to @contact.phone_number, "tel:#{@contact.phone_number}" %>
  </div>
  <div class="phone footer d-flex justify-content-center align-items-center">
     <%= image_tag('pinkphone.svg', class: 'card-image-footer') %>
  </div>

  <div class="button-plus-footer">
    <%= link_to new_contact_alert_path(@contact) do %>
        <div class="lg-btn d-flex align-items-center justify-content-center">
          <i class="fas fa-plus"></i>
        </div>
    <% end %>
  </div>

  <div class="mail footer">
    <%= mail_to @contact.email do %>
      <%= image_tag('pinkmail.svg', class: 'card-image-footer') %>
    <% end %>
  </div>

</div>


