<h1>Alerts#new</h1>

<h2><%= @contact.first_name %> <%= @contact.last_name %></h2>

<%  if @upcoming_alerts.any? %>
  <% @upcoming_alerts.each do |alert| %>
  <p><%= alert.title %></p>
  <p><%= I18n.l(alert.datetime, format: :short) %></p>
  <% end %>
<% end %>

<%= simple_form_for [@contact, @alert] do |f| %>
  <%= f.input :title %>
  <%= f.input :datetime, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.button :submit, 'Créer', class: 'btn btn-primary' %>
<% end %>
