
<div class="form-check form-check-inline <%= tag.color %>" data-checkbox-id="<%= tag.id %>">
  <input hidden type="checkbox" value="<%= tag.id %>" name="note[tag_ids][]" id="note_tag_ids_<%=tag.id%>" <%= checked %>>
  <label  for="note_tag_ids_<%=tag.id%>"><%= tag.label %></label>
  <div>
    <%= link_to tag_path(tag), method: :delete, remote: true do %>
    <p class="cross-tag">X</p>
    <% end %>
  </div>
</div>

