<div class="d-flex justify-content-start pt-5 ml-3">
  <p class="home-bienvenue">EasyContacts</p>
</div>

<!-- IMAGE -->

<div class="home-container-image">
  <div class="image-home">
    <%= image_tag('undraw_image.svg', class: '') %>
  </div>
</div>


<!-- PARTIE >BLEUE -->
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="footer-home d-flex flex-column">

  <div class="d-flex flex-column footer-home-text">
    <span class="footer-home-title">Se connecter à votre</p>
    <span class="footer-home-title">compte.</span>
  </div>
    <div class="btns-home-login">
      <div class="btn-home-login-bis d-flex">
        <?xml version="1.0"?>
        <svg class="pt-2 pl-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 550.795 550.795" style="enable-background:new 0 0 550.795 550.795;" xml:space="preserve"><g><g>
          <g>
            <path d="M501.613,491.782c12.381,0,23.109-4.088,32.229-12.16L377.793,323.567c-3.744,2.681-7.373,5.288-10.801,7.767    c-11.678,8.604-21.156,15.318-28.434,20.129c-7.277,4.822-16.959,9.737-29.045,14.755c-12.094,5.024-23.361,7.528-33.813,7.528    h-0.306h-0.306c-10.453,0-21.72-2.503-33.813-7.528c-12.093-5.018-21.775-9.933-29.045-14.755    c-7.277-4.811-16.75-11.524-28.434-20.129c-3.256-2.387-6.867-5.006-10.771-7.809L16.946,479.622    c9.119,8.072,19.854,12.16,32.234,12.16H501.613z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#F4B8AC"/>
            <path d="M31.047,225.299C19.37,217.514,9.015,208.598,0,198.555V435.98l137.541-137.541    C110.025,279.229,74.572,254.877,31.047,225.299z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#F4B8AC"/>
            <path d="M520.059,225.299c-41.865,28.336-77.447,52.73-106.75,73.195l137.486,137.492V198.555    C541.98,208.396,531.736,217.306,520.059,225.299z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#F4B8AC"/>
            <path d="M501.613,59.013H49.181c-15.784,0-27.919,5.33-36.42,15.979C4.253,85.646,0.006,98.97,0.006,114.949    c0,12.907,5.636,26.892,16.903,41.959c11.267,15.061,23.256,26.891,35.961,35.496c6.965,4.921,27.969,19.523,63.012,43.801    c18.917,13.109,35.368,24.535,49.505,34.395c12.05,8.396,22.442,15.667,31.022,21.701c0.985,0.691,2.534,1.799,4.59,3.269    c2.215,1.591,5.018,3.61,8.476,6.107c6.659,4.816,12.191,8.709,16.597,11.683c4.4,2.975,9.731,6.298,15.985,9.988    c6.249,3.685,12.143,6.456,17.675,8.299c5.533,1.842,10.655,2.766,15.367,2.766h0.306h0.306c4.711,0,9.834-0.924,15.368-2.766    c5.531-1.843,11.42-4.608,17.674-8.299c6.248-3.69,11.572-7.02,15.986-9.988c4.406-2.974,9.938-6.866,16.598-11.683    c3.451-2.497,6.254-4.517,8.469-6.102c2.057-1.476,3.605-2.577,4.596-3.274c6.684-4.651,17.1-11.892,31.104-21.616    c25.482-17.705,63.01-43.764,112.742-78.281c14.957-10.447,27.453-23.054,37.496-37.803c10.025-14.749,15.051-30.22,15.051-46.408    c0-13.525-4.873-25.098-14.598-34.737C526.461,63.829,514.932,59.013,501.613,59.013z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#F4B8AC"/>
          </g>
        </g></g> </svg>
        <%= f.input :email, required: false, label: false, placeholder: 'Email', autofocus: true, input_html: { autocomplete: "email" }, class:'d-flex border justify-content-center btn-home-login-text' %>
      </div>

      <div class="btn-home-login-bis d-flex mt-3">
              <?xml version="1.0"?>
              <svg class="pt-2 pl-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 486.733 486.733" style="enable-background:new 0 0 486.733 486.733;" xml:space="preserve" class=""><g><g>
                <path d="M403.88,196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145c-2.225-0.04-6.671-0.04-8.895,0   C157.486,1.494,92.336,70.076,92.336,152.175v44.388h-9.485c-14.616,0-26.538,15.082-26.538,33.709v222.632   c0,18.606,11.922,33.829,26.539,33.829h321.028c14.616,0,26.539-15.223,26.539-33.829V230.272   C430.419,211.646,418.497,196.563,403.88,196.563z M273.442,341.362v67.271c0,7.703-6.449,14.222-14.158,14.222H227.45   c-7.71,0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795c0-21.334,16.491-39.666,37.459-40.513   c2.222-0.09,6.673-0.09,8.895,0c20.968,0.847,37.459,19.179,37.459,40.513C285.272,323.825,280.919,334.002,273.442,341.362z    M331.886,196.563h-84.072h-8.895h-84.072v-44.388c0-48.905,39.744-89.342,88.519-89.342c48.775,0,88.521,40.437,88.521,89.342   V196.563z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#F4B8AC"/>
              </g></g> </svg>

              <%= f.input :password, required: false, label: false, placeholder:'Mot de passe', input_html: { autocomplete: "current-password" }, class:'d-flex justify-content-center pt-2 btn-home-login-text' %>
      </div>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="btn-home-login-bis d-flex mt-3">
        <%= f.button :submit, "Commencer !", class:'d-flex justify-content-center pt-2 btn-home-login-text' %>
      </div>
    </div>

  <% end %>
  <%= render "devise/shared/links" %>
</div>



