 <div class="rappels-dashboard d-flex justify-content-center">
      <% if contacts.any?%>
    <div class="results pb-2">
         <div class="rappel-title">
      <span class="rappel-title">Résultats</span>
    </div>
      <% contacts.each do |contact| %>
      <div class="result d-flex justify-content-center position-relative">
        <!-- Avatar -->
          <div class="avatar-dash d-flex justify-content-center align-items-center pr-3">
            <%= cl_image_tag contact.avatar, height: 50, width: 50, crop: :fill, class: "dash-avatar" %>
          </div>
        <!-- Prénom / Nom -->
          <div class="d-flex flex-column results-info position-relative pb-1 ">
            <span class="results-name"><%= contact.first_name%> <%=contact.last_name.upcase %></span>
            <span class="result-company"><%=contact.company%></span>
            <%= link_to '', contact_path(contact), class:'stretched-link'  %>
          </div>
        <!-- Icons -->
        <div class="icon-dash">
          <div class="d-flex results-icons justify-content-center align-items-center pr-3">

            <%= link_to new_contact_note_path(contact) do  %>
            <div class="d-flex contact-dash-icon-green flex-column position-relative">
              <%= image_tag('writing-green.svg', class: 'card-image-writing') %>
              <i class="fas fa-plus alert-add green"></i>
            </div>
            <% end %>
            <%= link_to new_contact_alert_path(contact) do  %>
            <div class="d-flex contact-dash-icon-orange green flex-column justify-content-between position-relative">
              <%= image_tag('rappel.svg', class: 'card-image-writing') %>
              <i class="fas fa-plus alert-add" ></i>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <p>Aucun contact ne correspond à votre recherche.</p>
  <% end %>
</div>
