<!--
<div class="form-check form-check-inline tag-form <%= tag.color %>" data-checkbox-id="<%= tag.id %>">
  <input hidden class="tag-bis" type="checkbox" value="<%= tag.id %>" name="note[tag_ids][]" id="note_tag_ids_<%=tag.id%>">
  <label  class="tag-text <%= tag.color %>" for="note_tag_ids_<%=tag.id%>"><%= tag.label.capitalize %></label>
</div>


 -->
 <div class="tags-search mt-2 flex-column" id="tag-search" >
  <span class="tag-header">Cliquer sur un tag pour l'ajouter</span>
  <div class = ''>
    <% tags.each do |tag| %>
      <div class="form-check form-check-inline tag-form tag-search-id <%= tag.color %>" data-checkbox-id="<%= tag.id %>">
        <input hidden class="tag-bis" type="number" value="<%= tag.id %>" name="search[tag_ids][]" id="search_tag_ids_<%=tag.id%>">
        <label  class="<%= tag.color %> tag-text" for="search_tag_ids_<%=tag.id%>"><%= tag.label.capitalize %></label>
      </div>
    <% end %>
  </div>
</div>

