<div class=" tag-bis large-tag form-check-inline <%= tag.color %>" data-checkbox-id="<%= tag.id %>">
  <input hidden class=" tag-bis" type="checkbox" value="<%= tag.id %>" name="note[tag_ids][]" id="note_tag_ids_<%=tag.id%>">
  <label  class="tag-text " for="note_tag_ids_<%=tag.id%>"><%= tag.label %></label>
</div>
