<!-- PARTIE BLEUE -->
<div class="d-flex justify-content-center navbar-dashboard">
  <div>
    <%= link_to dashboard_path do %>
      <%= image_tag('house-empty.svg', class: 'btn-home') %>
    <% end %>
  </div>
  <p class="dashboard-title">Easycontact</p>
  <%= link_to destroy_user_session_path, method: :delete do %>
           <%= image_tag('user.svg', class: 'btn-user') %>
     <% end %>
</div>

<!-- PARTIE ROSE -->

<div class="searchs-dashboard-tag">
  <div class="d-flex flex-column salutations-tag">
    <span class="dashboard-hey">Recherche par tags</span>
  </div>
  <div class="search-bar-tag">
    <%= simple_form_for :query, url: search_by_tags_path, remote: true,
      method: :get, html: { class: 'form-inline' } do |f| %>

      <!-- formulaire d'input hidden -->
      <div id="target"class="d-flex">
        <%= f.hidden_field :label, class: "placeholder-search", placeholder: "Tags",
         input_html: {value: ""}, label: false  %>

      </div>
      <!-- <div class="tag-dashboard d-flex justify-content-center align-items-center"> -->
         <span class="tag-dashboard-new-search d-flex justify-content-center align-items-center" id = "tagResetDiv">Nouvelle recherche</span>
        <%= f.button :submit, 'Go', class: 'tag-dashboard-tag d-flex justify-content-center align-items-center mt-0' %>
      <!-- </div> -->
    <% end %>
  </div>
</div>

<!-- PARTIE GRISE -->

<div class="tags-display-dashboard">
<!--  zone des tags qui nourrissent l'input si sélectionnés -->
  <br>
  <div id='query-tags'>
    <%= render 'tags', tags: @tags %>
  </div>

<!-- submit des tags est ICI -->

<!-- Resultat de la recherche par tag -->

  <!-- classe scroll-results dans _search.scss -->
  <div class = "scroll-results" id = "tag-notes-results">
    <%= render 'tagnotes', notes: @notes  %>
  </div>

</div>


<!-- à conserver sur cette page -->
<script type="text/javascript">
    $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>
