<%=render 'shared/navbar', user: current_user %>

<div class="cont-global-dash">

  <div class="dash-darkblue">

    <div class="welcome pl-5 pt-3 pb-3">
      <h3>Hey <%=current_user.first_name.capitalize%></h3>
      <p>Qui avez-vous vu aujourd'hui ?</p>
        <div class="dash-searchbar d-flex justify-content-center pr-5">
          <div class="search-bar d-flex justify-content-between mb-3">
            <p class="ml-3  dashboard-tag">TAG</p>
            <%= simple_form_for @tags do |f| %>
            <!-- :search, , url: tag_search_path, method: :get -->
              <%= text_field_tag :query, params[:query],
                class: "placeholder-search search-name",
                  placeholder: "Sélection d'un tag..."%>
            <%= link_to dashboard_path do%>
              <i class="fas fa-search mr-2 mt-2"></i>
            <% end %>
          </div>
        </div>
      </div>
  </div>
  <div>
    <%= @tags.each do |un_tag|%>
      <%= render 'tags', tag: un_tag %>
    <% end %>
  </div>
 <%= f.association :tags, collection: @tags, label_method: :label, value_method: :id, as: :check_boxes, wrapper: :horizontal_collection_inline, id: "tagCheckboxes" %>
  <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>
<% end %>


<div class="col-sm-12" id="tagsCheckboxes"> <!--ID IMPORTANT / JS -->
  <%#= simple_form_for :search, url: tag_search_path, method: :get, wrapper: :inline_form,
    wrapper_mappings: { check_boxes: :horizontal_collection} do |f| %>
  <%#= f.error_notification %>
  <%#= render 'tags', tag: un_tag %>
  <%#= f.input :label as: :check_boxes, collection: @tags, wrapper: :horizontal_collection_inline %>
   <%#= f.button :submit, 'Valider', class: 'btn btn-primary'%>
  <%# end %>
</div>

<div class="d-flex tag-add-full tag-list ">
  <% @tags.each do |tag| %>
    <div class="tag-bis small-tag <%= tag.color %>">
    <p class="margin-tag" data-tag-id = "<%= tag.id %>" ><%= tag.label %></p>
    </div>
  <% end %>
</div>

<div class="dash-gray">

  <div class="results-container-dash d-flex justify-content-center align-items-center flex-column">
    <%#if params[:query].present?  %>
    <div class="results-container">
      <%# if @tags.any?%>
        <!-- <ul class="list-group"> -->
        <div class="list-group">
        <%# @tags.each do |tag| %>
          <!-- <li class="list-group-item d-flex justify-content-center align-items-center"> -->
          <div class="list-group-item d-flex justify-content-center align-items-center">

          <div class="mt-0">
            <%#= cl_image_tag contact.avatar, height: 50, width: 50, crop: :fill, class: "dash-avatar" %>
          </div>

          <%#= link_to contact_path(contact) do%>

          <div class="contact-name ml-2 text-left">
            <%#= contact.first_name%> <%#=contact.last_name%>
          </div>
          <% #end %>
          <!-- <div class=" ">
            <i class="fas fa-phone dash ml-3 mt-3"></i>
          </div> -->
          <div class="d-flex mr-3">
            <%#= link_to new_contact_alert_path(contact) do%>
            <div class="d-flex contact-dash-icon mr-3">
              <i class="fas fa-bell ml-3"></i>
              <i class="fas fa-plus"></i>
            </div>
            <%# end %>
            <%#= link_to new_contact_note_path(contact) do%>
            <div class="d-flex contact-dash-icon ml-2">
              <i class="fas fa-sticky-note"></i>
              <i class="fas fa-plus" style="margin-left:3px;"></i>
            </div>
            <%# end %>
          </div>
          <!-- </li> -->
          </div>
          </div>
          <%# end %>
      </div>
        <!-- </ul> -->
      <%# else %>
        <p>Aucun contact ne correspond à votre recherche.</p>
      <%# end %>
      </div>
    <%# end %>
  </div>


  <div class="btn-dash-add-contact d-flex justify-content-center">
    <%#= link_to new_contact_path do%>
    <div class="lg-btn dash d-flex align-items-center justify-content-center">
        <i class="fas fa-user-alt ml-1"></i>
        <i class="fas fa-plus mb-3"></i>
    </div>
    <%# end %>

  </div>

</div>
</div>
<!-- à conserver sur cette page -->
<script type="text/javascript">
    $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>
