<!-- PARTIE BLEUE -->
<%=render 'shared/navbar', user: current_user %>



<!-- PARTIE ROSE -->
<div class="dash-back-blue">

  <div class="searchs-dashboard d-flex justify-content-center align-items-center flex-column pb-5">

    <div class="d-flex flex-column salutations">
      <span class="dashboard-hey">Hey <%=current_user.first_name.capitalize%></span>
      <span class="dashboard-question">qui avez-vous vu aujourd'hui ?</span>
    </div>

    <div class="search-bar d-flex justify-content-between">

        <%= form_tag dashboard_path, method: :get do %>
          <%= image_tag('loupe.svg', class: 'loupe') %>
          <%= text_field_tag :query,
            params[:query],
            class: "placeholder-search",
            placeholder: "Jean Dupont"
          %>
          <%= link_to tag_search_path do  %>
          <div class="tag-dashboard d-flex justify-content-center align-items-center">
            <span class="tag-click">TAG</span>
          </div>
          <% end %>
        <% end %>

    </div>

  </div>

</div>

<!-- PARTIE GRISE -->

<!-- Liste alerte -->

<div class="dash-back-pink">

  <div class="rappels-dashboard d-flex justify-content-center">



    <div class="rappels-dash mb-5">
      <%  if @upcoming_contacts_alerts.any? %>
      <div class="rappel-title">
        <span class="rappel-title">Rappels à venir</span>
      </div>
        <% @upcoming_contacts_alerts.first(3).each do |alert| %>

        <%= link_to contact_path(alert.contact) do  %>
          <div class="rappels dash d-flex">

            <div class="rappels-text d-flex">

              <div>
                <span class="rappels-text-date d-flex align-items-center  justify-content-center"><%= alert.datetime.strftime("%d %B").downcase %></span>
              </div>

              <div class="rappels-text-content-dashboard d-flex flex-column">
                <span class="dash-rappel-name"><%= alert.contact.first_name %> <%= alert.contact.last_name.upcase %></span>
                <span class="dash-rappel-title"><%= alert.title %></span>
              </div>

            </div>

          </div>
        <% end %>

        <% end %>
      <% else %>
        <p>"Vous n'avez pas d'alerte à venir."</p>
      <% end %>
    </div>

  </div>

</div>

<!-- Resultats query -->

<div class="dash-back-pink-query">

  <%if params[:query].present?  %>



  <div class="rappels-dashboard d-flex justify-content-center">



      <% if @contacts.any?%>

    <div class="results">
         <div class="rappel-title">
      <span class="rappel-title">Résultats</span>
    </div>

      <% @contacts.each do |contact| %>
      <div class="result d-flex justify-content-around">

        <!-- Avatar -->
          <div class="mt-0">
            <%= cl_image_tag contact.avatar, height: 50, width: 50, crop: :fill, class: "dash-avatar" %>
          </div>

        <!-- Prénom / Nom -->
          <%= link_to contact_path(contact) do%>

          <div class="d-flex flex-column results-info">
            <span class="results-name"><%= contact.first_name%> <%=contact.last_name.upcase %></span>
            <span class="result-company"><%=contact.company%></span>
          </div>
          <% end %>

        <!-- Icons -->

        <div class="icon-dash">

          <div class="d-flex results-icons">

            <%= link_to new_contact_alert_path(contact) do%>
            <div class="d-flex contact-dash-icon">
              <i class="fas fa-bell ml-3"></i>
              <i class="fas fa-plus"></i>
            </div>
            <% end %>

            <%= link_to new_contact_note_path(contact) do%>
            <div class="d-flex contact-dash-icon ml-3">
              <i class="fas fa-sticky-note"></i>
              <i class="fas fa-plus" style="margin-left:3px;"></i>
            </div>
            <% end %>
          </div>

        </div>

      </div>
      <% end %>

    </div>

    <% else %>
      <p>Aucun contact ne correspond à votre recherche.</p>
    <% end %>

    </div>
  <% end %>

</div>

<!-- Bouton new contact -->

 <div class="button-plus-footer d-flex justify-content-center p-3 sticky">
    <%= link_to new_contact_path do %>
        <div class="lg-btn d-flex align-items-center justify-content-center">
          <i class="fas fa-plus"></i>
        </div>
    <% end %>
  </div>

<!-- à conserver sur cette page -->
<script type="text/javascript">
    $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>
