<!--  <div class="logo">
        <h1><i class="fas fa-users"></i> <em>EasyContacts</em></h1>
      </div> -->


<div class="search-bar d-flex justify-content-between m-3">
  <p class="ml-3 mt-2 tag">TAG</p>
  <%= form_tag dashboard_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "placeholder-search",
      placeholder: "Je cherche..."
    %>
  <% end %>
  <i class="fas fa-search mr-2 mt-2"></i>
</div>


<h3>Bienvenue <%=current_user.first_name.capitalize%> !</h3>


<%if params[:query].present?  %>

  <% if @contacts.any?%>
    <h4>Nous avons trouvé :</h4>

    <ul class="list-group ml-3">
    <% @contacts.each do |contact| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="avatar">
        <p><em>Avatar</em></p>
      <%#= cl_image_tag contact.avatar%>
      </div>
      <div class="contact-name">
      <%= contact.first_name%> <%=contact.last_name%>
      </div>
      <div class="lg-btn "><i class="fas fa-phone ml-3 mt-3"></i></div>  <!-- contact.phone_number %> -->
      </li>
      </div>
    <% end %>
    </ul>
  <% else %>
    <p>Aucun contact ne correspond à votre recherche.</p>
  <% end %>
<% end %>













<!-- à conserver sur cette page -->
<script type="text/javascript">
    $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>




