<!-- PARTIE BLEUE -->
<%=render 'shared/navbar', user: current_user %>



<!-- PARTIE ROSE -->
<div class="dash-back-blue">

  <div class="searchs-dashboard d-flex justify-content-center align-items-center flex-column pb-5">

    <div class="d-flex flex-column salutations">
      <span class="dashboard-hey">Hey <%=current_user.first_name.capitalize%></span>
      <span class="dashboard-question">qui avez-vous vu aujourd'hui ?</span>
    </div>

    <div class="search-bar d-flex justify-content-between">

        <%= form_tag dashboard_path, method: :get do %>
          <%= image_tag('loupe.svg', class: 'loupe') %>
          <%= text_field_tag :query,
            params[:query],
            class: "placeholder-search",
            placeholder: "Jean Dupont"
          %>
          <%= link_to tag_search_path do  %>
          <div class="tag-dashboard d-flex justify-content-center align-items-center">
            <span class="tag-click">TAG</span>
          </div>
          <% end %>
        <% end %>

    </div>

  </div>

</div>

<!-- PARTIE GRISE -->

<!-- Liste alerte -->

<div class="dash-back-pink">

    <%if params[:query].nil?  %>

  <div class="rappels-dashboard d-flex justify-content-center">

    <div class="rappels-dash mb-5 pb-5">
      <%  if @upcoming_contacts_alerts.any? %>
      <div class="rappel-title">
        <span class="rappel-title">Rappels à venir</span>
      </div>
        <% @upcoming_contacts_alerts.each do |alert| %>

        <%= link_to contact_path(alert.contact) do  %>
          <div class="rappels dash d-flex">

            <div class="rappels-text-dash d-flex">

              <div>
                <span class="rappels-text-date-dash d-flex align-items-center justify-content-center"><%= I18n.l(alert.datetime, format: "%e") %><br><%= I18n.l(alert.datetime, format: "%B") %></span>
              </div>

              <div class="rappels-text-content-dashboard d-flex flex-column">
                <span class="dash-rappel-name"><%= alert.contact.first_name %> <%= alert.contact.last_name.upcase %></span>
                <span class="dash-rappel-title"><%= alert.title %></span>
              </div>

            </div>

          </div>
        <% end %>

        <% end %>
      <% else %>
        <p>"Vous n'avez pas d'alerte à venir."</p>
      <% end %>
    </div>

  </div>

</div>

<!-- Resultats query -->

<div class="dash-back-pink-query">

  <%else %>



  <div class="rappels-dashboard d-flex justify-content-center">



      <% if @contacts.any?%>

    <div class="results mb-5">
         <div class="rappel-title">
      <span class="rappel-title">Résultats</span>
    </div>

      <% @contacts.each do |contact| %>
      <div class="result d-flex justify-content-around">

        <!-- Avatar -->
          <div class="mt-0">
            <%= cl_image_tag contact.avatar, height: 50, width: 50, crop: :fill, class: "dash-avatar" %>
          </div>

        <!-- Prénom / Nom -->
          <%= link_to contact_path(contact) do%>

          <div class="d-flex flex-column results-info">
            <span class="results-name"><%= contact.first_name%> <%=contact.last_name.upcase %></span>
            <span class="result-company"><%=contact.company%></span>
          </div>
          <% end %>

        <!-- Icons -->

        <div class="icon-dash">

          <div class="d-flex results-icons">

            <%= link_to new_contact_alert_path(contact) do%>
            <div class="d-flex contact-dash-icon">
              <i class="fas fa-bell ml-3"></i>
              <i class="fas fa-plus"></i>
            </div>
            <% end %>

            <%= link_to new_contact_note_path(contact) do%>
            <div class="d-flex contact-dash-icon ml-3">
              <i class="fas fa-sticky-note"></i>
              <i class="fas fa-plus" style="margin-left:3px;"></i>
            </div>
            <% end %>
          </div>

        </div>

      </div>
      <% end %>

    </div>

    <% else %>
      <p>Aucun contact ne correspond à votre recherche.</p>
    <% end %>

    </div>
  <% end %>

</div>

<!-- Bouton new contact -->


<div class="footer-contact d-flex justify-content-around">
  <div class="position-relative">
    <i class="fas fa-plus"></i>
  </div>

  <div class="button-plus-footer">
    <%= link_to new_contact_path do %>
        <div class="lg-btn d-flex align-items-center flex-column justify-content-center home">
          <?xml version="1.0"?>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve" width="20px" height="20px" class=""><g><g>
            <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587   C104.535,132.855,136.084,171.173,175,171.173z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
            <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
            <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
            <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761   s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131   c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496   c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/>
          </g></g> </svg>
        </div>
    <% end %>
  </div>
</div>



<!-- à conserver sur cette page -->
<script type="text/javascript">
    $(function(){
        $(document).on('click','input[type=text]',function(){ this.select(); });
    });
</script>
